<div>
  <ul id="main-nav">
    <li>
      <h1 class="logo">Logo</h1>
    </li>
    <li><a href="#Font Buttons" title="Font Buttons" class="button-fonts mt-15">Font Buttons</a></li>
    <li><a href="#Entrar" title="Entrar" class="button-entrar mt-15">Entrar</a></li>
  </ul>

  <ul id="nav-menu">
    <li><a href="Início" title="Início">Início</a></li>
    <li><a href="Filmes" title="Filmes">Filmes</a></li>
    <li><a href="Séries" title="Séries">Séries</a></li>
    <li><a href="Canais" title="Canais">Canais</a></li>
  </ul>
</div>