<header>

  <div class="botton-trace b">

    <div id="main-nav" class="container center">
      <h1 class="logo">Logo</h1>
      <ul>
        <li><a href="#Font Buttons" title="Font Buttons" class="button-fonts mt-15">Font Buttons</a></li>
        <li><a href="#Entrar" title="Entrar" class="button-entrar mt-15">Entrar</a></li>
      </ul>
    </div>

  </div>

  <div class="max-container b">

    <ul id="nav-menu">
      <li><a href="Início" title="Início">Início</a></li>
      <li><a href="Filmes" title="Filmes">Filmes</a></li>
      <li><a href="Séries" title="Séries">Séries</a></li>
      <li><a href="Canais" title="Canais">Canais</a></li>
    </ul>

  </div>

</header>
